/* BASICS ------------ */
html {
    height: 100%;
}

body {
    background: #fff;
    color: #000;
    font-weight: 300;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    margin: 0;
}

#container {
margin-left: 48%;
width: 400px;
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #000;
}

.image {
    background: url("../images/me3.png") no-repeat 0 0;
    background-size: 400px 400px;
    position: absolute; left: 350px; top: 100px;
    height: 436px;
    width: 436px;
    zoom: 75%;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
}

#div01 {

}

#div02 {
text-align: justify;

}

#div03 {

}

