.image {
    height: 300px;
    width: 300px;
}







/*.header {
    font-family: "Helvetica Neue";
    font-weight: 100;
    background-color: white;
    opacity: 0.9;
    text-align: right;
    padding: 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    overflow:hidden;
    
}

.header h1 {
    font-size: 35px;
    font-weight: 100;
    text-decoration: none;
    text-decoration-color: black;
}

#navbar {
font-size: 17px;
        
    }  

.header ul  {
    list-style-type: none;
    
}

.header li {
    text-decoration: none !important; 
    text-decoration-color: black !important;
    font-weight: 100;
    display: inline;
    padding: 5px;
    
}

.header li:hover {
    text-decoration: none;
    text-decoration-color: black !important;
}

.header a:link {
    text-decoration: none;
    color: black;
}

.header a:hover {
    text-decoration: underline;
    -webkit-text-decoration-style: double;
}

.header a:active {
   text-decoration: underline; 
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    margin: 100px 60px 0 60px;
    padding: 80px 140px 0 140px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    white-space: pre-wrap;
    
}

.main p {
    font-size: 21px;
    font-weight: 200;
}

.main a:link {
    text-decoration: none;
    color: black;
}

.main a:hover {
    text-decoration: underline;
    -webkit-text-decoration-style: double;
}

.main a:active {
   text-decoration: underline; 
}

*/