body {
    margin-top: 80px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#paragraph {
    text-align: justify;
    text-justify: inter-word;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #000;
}

#image {
    margin-top: 20px;
}

@media (max-width: 767px) {
    #image {
        display: none;
    }
}