

* {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
	background-color: #fafafa;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

nav a {
    color: #fff !important;
}


.navbar-default .navbar-toggle {
    border: none;
    color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: rgba(0,0,0,0.5);
}

.brand-text {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

header {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;   
    height: 100vh;
}

.intro-text {
    padding: 250px 0;
}

.intro-text .intro-lead-in {
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
.intro-text .intro-heading {
    font-family: 'Pacifico', cursive;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}

section {
    padding: 100px 0;
}

.section-text {
    line-height: 40px;
    margin: 0 0 25px 0;
}

nav {
	transition: padding 0.5s, color 0.5s;
}

.navbar-transparent {
    background: transparent; 
	padding: 15px 0;
	border: none;
}

img {
    max-width: 100%;
}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
}

#uno, #tres {
    background-color: #fff;
}

.project-image {
    width: 150px;
}

.form-size {
    margin: 0 auto;
    width: 80%;
}

footer {
    margin: 20px 0;
}